<div nz-row nzGutter="32">
  <div nz-col class="gutter-row" nzSpan="15" nzOffset="2">
    <nz-row nzGutter="32">
      <nz-col nzSpan="24">
        <nz-card nzHoverable="true" [nzTitle]="titleTpl">
          <nz-card-meta [nzDescription]="descriptionTpl"></nz-card-meta>
          <ng-template #titleTpl>
            <h1>{{article.title}}</h1>
          </ng-template>
          <ng-template #descriptionTpl>
            <div [innerHTML]="article.content"></div>
          </ng-template>
        </nz-card>
      </nz-col>
    </nz-row>
    <nz-divider></nz-divider>
    <nz-row nzGutter="32">
      <nz-col nzSpan="24">
        <nz-list [nzDataSource]="comments" [nzItemLayout]="'vertical'" [nzRenderItem]="item" [nzLoadMore]="loadMore"
          [nzFooter]="footer">
          <ng-template #item let-item>
            <nz-list-item [nzActions]="[likeAction,dislikeAction]" [nzExtra]="extra">
              <ng-template #likeAction>
                <span (click)="onLikeComment(item)">
                  <i nz-icon type="like-o" style="margin-right: 8px;"></i> {{item.likes}}
                </span>
              </ng-template>
              <ng-template #dislikeAction>
                <span (click)="onDislikeComment(item)">
                  <i nz-icon type="dislike-o" style="margin-right: 8px;"></i> {{item.dislikes}}
                </span>
              </ng-template>
              <nz-list-item-meta [nzTitle]="nzTitle" [nzAvatar]="nzAvatar" [nzDescription]="nznzDescription">
                <ng-template #nzTitle>
                  <a [routerLink]="[ '/person', item.creatorId ]">{{item.creatorNick}}</a>
                  &nbsp;&nbsp;<h6>{{item.creationTime | fdyTime}}回复</h6>
                </ng-template>
                <ng-template #nzAvatar>
                  <nz-avatar nzSrc="{{item.creatorId | avatar}}" nzSize="large"></nz-avatar>
                </ng-template>
                <ng-template #nznzDescription>
                  <div [innerHTML]="item.content | html"></div>
                </ng-template>
              </nz-list-item-meta>

              <ng-template #extra>
              </ng-template>
            </nz-list-item>
          </ng-template>
          <ng-template *ngIf="!loadingMore" #loadMore>
            <div class="loadmore">
              <button nz-button (click)="onLoadMore()">加载更多评论</button>
            </div>
          </ng-template>
        </nz-list>
      </nz-col>
    </nz-row>
    <nz-row nzGutter="32" *ngIf="article?.canComment">
      <nz-col nzSpan="24">
        <ng-container *ngIf="user?.IsValid; else elseTpl">
          <nz-card>
            <div id="toolbar" class="toolbar"></div>
            <div id="editor" class="editor"></div>
            <button nz-button class="btnReply" (click)="onReply()" nzType="primary">回复</button>
          </nz-card>
        </ng-container>
        <ng-template #elseTpl>
          <p style="text-align: center;">登录后才可评论！</p>
        </ng-template>
      </nz-col>
    </nz-row>
  </div>
  <div nz-col class="gutter-row" nzSpan="5">
    <nz-affix [nzOffsetTop]="84">
      <nz-card nzTitle="概要">
        <nz-row nzGutter="8">
          <nz-col nzSpan="8">
            发布人：
          </nz-col>
          <nz-col nzSpan="16">
            <i nz-icon type="user" theme="outline"></i>&nbsp;&nbsp;
            <a [routerLink]="[ '/person', article.creatorId ]">
              {{article.creatorNick}}
            </a>
          </nz-col>
          <nz-col nzSpan="8">
            发布时间：
          </nz-col>
          <nz-col nzSpan="16">
            <i nz-icon type="calendar" theme="outline"></i>&nbsp;&nbsp;
            {{article.creationTime | fdyTime}}
          </nz-col>
          <nz-col nzSpan="8">
            访问量：
          </nz-col>
          <nz-col nzSpan="16">
            <i nz-icon type="eye" theme="outline"></i>&nbsp;&nbsp;
            {{article.pv}}
          </nz-col>
          <nz-col nzSpan="8">
            评论数：
          </nz-col>
          <nz-col nzSpan="16">
            <i nz-icon type="message" theme="outline"></i>&nbsp;&nbsp;
            {{article.replies}}
          </nz-col>
          <nz-col nzSpan="8">
            赞/踩：
          </nz-col>
          <nz-col nzSpan="16">
            <i nz-icon type="like-o"></i>&nbsp;&nbsp;{{article.likes}}&nbsp;&nbsp;/&nbsp;&nbsp;<i nz-icon type="dislike-o"></i>&nbsp;&nbsp;{{article.dislikes}}
          </nz-col>
          <nz-col nzSpan="8">
            关键字：
          </nz-col>
          <nz-col nzSpan="16">
            <i nz-icon type="tag"></i> {{article.keywords}}
          </nz-col>
          <nz-col nzSpan="8">
            类别：
          </nz-col>
          <nz-col nzSpan="16">
            <nz-tag nzColor="magenta">{{article.category}}</nz-tag>
          </nz-col>
        </nz-row>
      </nz-card>
      <nz-card *ngIf="user?.IsValid" class="opCard">
        <nz-row nzGutter="8">
          <nz-col nzSpan="6" style="line-height:30px;">
            <a (click)="onFavorite()">
              <ng-container *ngIf="favorite; else cancelFavorite">
                <i nz-tooltip nzTitle="取消收藏" nz-icon type="heart" theme="fill"></i>
              </ng-container>
              <ng-template #cancelFavorite>
                <i nz-tooltip nzTitle="收藏" nz-icon type="heart"></i>
              </ng-template>
            </a>
          </nz-col>
          <nz-col nzSpan="6" style="line-height:30px;">
            <nz-anchor [nzBounds]="0">
              <nz-link nzHref="#editor" [nzTitle]="nzTitle"></nz-link>
              <ng-template #nzTitle>
                <i nz-tooltip nzTitle="评论" nz-icon type="message"></i>
              </ng-template>
            </nz-anchor>
          </nz-col>
          <nz-col nzSpan="6" style="line-height:30px;">
            <a (click)="onLike()">
              <i nz-tooltip nzTitle="赞" nz-icon type="like-o"></i>
            </a>
          </nz-col>
          <nz-col nzSpan="6" style="line-height:30px;">
            <a (click)="onDislike()">
              <i nz-tooltip nzTitle="踩" nz-icon type="dislike-o"></i>
            </a>
          </nz-col>
        </nz-row>
      </nz-card>
    </nz-affix>
  </div>
</div>