<nz-layout class="layout">

  <nz-affix>
    <nz-header>
      <img src="" alt="" class="logo" />
      <ul nz-menu [nzTheme]="'light'" [nzMode]="'horizontal'" style="line-height: 64px;">
        <li nz-menu-item>
          <a [routerLink]="[ '/questions' ]"><i nz-icon type="question"></i> 问题</a>
        </li>
        <li nz-menu-item>
          <a [routerLink]="[ '/articles' ]"><i nz-icon type="read"></i> 文章</a>
        </li>
        <li *ngIf="!user?.IsValid" nz-menu-item class="right-menu">
          <a [routerLink]="[ '/register' ]">注册</a>
        </li>
        <li *ngIf="!user?.IsValid" nz-menu-item class="right-menu">
          <a [routerLink]="[ '/login' ]">登录</a>
        </li>
        <li *ngIf="user?.IsValid" nz-submenu class="right-menu">
          <span title>
            <nz-avatar nzSrc="{{user.Id | avatar}}" nzSize="middle" style="vertical-align: middle;"></nz-avatar>
          </span>
          <ul>
            <li nz-menu-item>
              <a [routerLink]="[ '/person', user?.Id ]">
                <i nz-icon type="user"></i> 我的主页
              </a>
            </li>
            <li nz-menu-item>
                <a [routerLink]="[ '/profile' ]">
                  <i nz-icon type="profile"></i> 个人信息
                </a>
            </li>
            <li nz-menu-divider></li>
            <li nz-menu-item (click)="logout()"><i nz-icon type="logout"></i> 退出</li>
          </ul>
        </li>

        <li *ngIf="user?.IsValid" nz-submenu class="right-menu">
          <span title><i nz-icon type="plus" style="font-size: 20px; "></i> </span>
          <ul>
            <li nz-menu-item>
              <a [routerLink]="[ '/addQuestion' ]"><i nz-icon type="question" theme="outline"></i> 提问题</a>
            </li>
            <li nz-menu-item>
              <a [routerLink]="[ '/addArticle' ]"><i nz-icon type="read"></i> 写文章</a>
            </li>
          </ul>
        </li>
      </ul>
    </nz-header>
  </nz-affix>
  <nz-content style="padding: 20px 16px;">
    <ng-content select="router-outlet"></ng-content>
  </nz-content>
  <nz-footer style="text-align: center;">Macrowing ©2018</nz-footer>
  <nz-back-top></nz-back-top>
</nz-layout>