<!--ngswitch 会影响样式-->
<nz-tag *ngIf="state === 1" [nzColor]="'blue'">{{text}}</nz-tag>
<nz-tag *ngIf="state === 2" [nzColor]="'magenta'">{{text}}</nz-tag>
<nz-tag *ngIf="state === 4" [nzColor]="'red'">{{text}}</nz-tag>
<nz-tag *ngIf="state === 8" [nzColor]="'green'">{{text}}</nz-tag>
<nz-tag *ngIf="state === 16" [nzColor]="'cyan'">{{text}}</nz-tag>
<nz-tag *ngIf="state === 32" [nzColor]="'green'">{{text}}</nz-tag>
<nz-tag *ngIf="state === 64" [nzColor]="'lime'">{{text}}</nz-tag>
<nz-tag *ngIf="state === 128" [nzColor]="'red'">{{text}}</nz-tag>