@page
@using EDoc2.FAQ.Web.Pages.Obsolete
@model EDoc2.FAQ.Web.Pages.Obsolete.ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Thank you for confirming your email.
    </p>
</div>
