@page
@using EDoc2.FAQ.Web.Pages.Obsolete
@model EDoc2.FAQ.Web.Pages.Obsolete.ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Please check your email to reset your password.
</p>
