@page
@using EDoc2.FAQ.Web.Pages.Obsolete
@model EDoc2.FAQ.Web.Pages.Obsolete.LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>
