@page
@using EDoc2.FAQ.Web.Pages.Obsolete
@model EDoc2.FAQ.Web.Pages.Obsolete.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
