@{
    ViewBag.Title = ViewData["Title"];
    Layout = "_Layout";
}

@await Html.PartialAsync("_NavMenu", ViewData["Navs"])

<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="edoc-panel detail-box">
                <h1>@ViewData["Title"]</h1>
                <div class="edoc-detail-info">
                    <span class="layui-badge layui-bg-green"> 提问 </span>
                    <span class="layui-badge" style="background-color: #999;">未结</span>
                    <div class="edoc-admin-box" data-id="33662"> </div>
                    <span class="edoc-list-nums">
                        <a href="#comment">
                            <i class="layui-icon layui-icon-reply-fill" title="回答"></i> 4
                        </a>
                        <i class="layui-icon layui-icon-fire" title="人气"></i> 19
                    </span>
                </div>
                <div class="detail-about">
                    <a class="edoc-avatar" href="/u/12049968/">
                        <img src="//cdn.layui.com/avatar/12049968.gif?t=1528855845462" alt="方丈">
                    </a>
                    <div class="edoc-detail-user">
                        <a href="/u/12049968/" class="edoc-link">
                            <cite>方丈</cite>
                        </a>
                        <span>56分钟前</span>
                    </div>
                    <div class="detail-hits" id="LAY_jieAdmin" data-id="33662">
                        <span style="padding-right: 10px; color: #FF7200">悬赏：20飞吻</span>
                        <span class="layui-btn layui-btn-xs jie-admin " type="collect" data-type="add">收藏</span>
                    </div>
                </div>
                <div class="detail-body layui-text photos">
                    <table class="layui-table">
                        <tbody>
                            <tr> <td>版本：layui </td> <td>浏览器：</td> </tr>
                        </tbody>
                    </table>
                    <img src="~/images/12049296_1536292372547_97991.png" />
                    <br>子窗口高度不知道为啥才100多..
                </div>
            </div>

            <div class="edoc-panel detail-box" id="flyReply">
                <fieldset class="layui-elem-field layui-field-title" style="text-align: center;"> <legend>回帖</legend> </fieldset>
                <ul class="jieda" id="jieda">
                    <li data-id="134497">
                        <a name="item-1536292664472"></a>
                        <div class="detail-about detail-about-reply">
                            <a class="edoc-avatar" href="/u/10320576/"> <img src="//cdn.layui.com/avatar/10320576.jpg?t=1533620037005" alt="一个幽默的代码"> </a>
                            <div class="edoc-detail-user"> <a href="/u/10320576/" class="edoc-link"> <cite>一个幽默的代码</cite> </a> </div>
                            <div class="detail-hits">
                                <span>54分钟前</span>
                            </div>
                        </div>
                        <div class="detail-body layui-text jieda-body photos"> 是用的html5么 </div>
                        <div class="jieda-reply">
                            <span class="jieda-zan " type="zan">
                                <i class="iconfont icon-zan"></i> <em>0</em>
                            </span> <span type="reply"> <i class="iconfont icon-svgmoban53"></i> 回复 </span>
                        </div>
                    </li>
                    <li data-id="134498">
                        <a name="item-1536292783165"></a>
                        <div class="detail-about detail-about-reply">
                            <a class="edoc-avatar" href="/u/12049968/"> <img src="//cdn.layui.com/avatar/12049968.gif?t=1528855845462" alt="方丈"> </a>
                            <div class="edoc-detail-user">
                                <a href="/u/12049968/" class="edoc-link"> <cite>方丈</cite> </a>
                            </div>
                            <div class="detail-hits">
                                <span>52分钟前</span>
                            </div>
                        </div>
                        <div class="detail-body layui-text jieda-body photos"> 对啊就是 <br>咋了 </div>
                        <div class="jieda-reply">
                            <span class="jieda-zan " type="zan">
                                <i class="iconfont icon-zan"></i> <em>0</em>
                            </span> <span type="reply"> <i class="iconfont icon-svgmoban53"></i> 回复 </span>
                        </div>
                    </li>
                    <li data-id="134499">
                        <a name="item-1536292868508"></a>
                        <div class="detail-about detail-about-reply">
                            <a class="edoc-avatar" href="/u/10320576/"> <img src="//cdn.layui.com/avatar/10320576.jpg?t=1533620037005" alt="一个幽默的代码"> </a>
                            <div class="edoc-detail-user">
                                <a href="/u/10320576/" class="edoc-link"> <cite>一个幽默的代码</cite> </a>
                            </div>
                            <div class="detail-hits"> <span>51分钟前</span> </div>
                        </div>
                        <div class="detail-body layui-text jieda-body photos">
                            @Html.Raw("@")<a href="javascript:;" class="edoc-aite">方丈</a> 那就对了，我也遇到了这样的问题，昨天刚解决
                        </div>
                        <div class="jieda-reply">
                            <span class="jieda-zan " type="zan">
                                <i class="iconfont icon-zan"></i> <em>0</em>
                            </span> <span type="reply"> <i class="iconfont icon-svgmoban53"></i> 回复 </span>
                        </div>
                    </li>
                    <li data-id="134502">
                        <a name="item-1536293282394"></a>
                        <div class="detail-about detail-about-reply">
                            <a class="edoc-avatar" href="/u/10320576/">
                                <img src="//cdn.layui.com/avatar/10320576.jpg?t=1533620037005" alt="一个幽默的代码">
                            </a>
                            <div class="edoc-detail-user">
                                <a href="/u/10320576/" class="edoc-link"> <cite>一个幽默的代码</cite> </a>
                            </div>
                            <div class="detail-hits"> <span>44分钟前</span> </div>
                        </div>
                        <div class="detail-body layui-text jieda-body photos">
                            说一下解决步骤
                            <br>- 1.生成选项卡的时候需要把iframe的父容器的高度设置为100%<br><pre>$(".layui-tab-item.layui-show").height("100%");</pre>
                            - 2. 页面加载完之后执行这个方法<br><pre>/**<br>         * 手动设定尺寸<br>         */<br>        function setSize() {<br>            let $main_tab = $("#main-tab");<br>            $main_tab.height($("#container").height() - 20);<br>            $(".layui-tab-content").height(($main_tab.height() - $(".layui-tab-title").height()) - 11);<br>        }</pre>- 3. 监听窗口大小改变，当窗口大小改变时，重新设置iframe父元素的高度<br><pre> // 定时事件索引<br>        let resizeTimer;<br>        $(window).resize(function () {<br>            if (resizeTimer) {<br>                clearTimeout(resizeTimer);<br>            }<br>            resizeTimer = setTimeout(function () {<br>                resizeTimer = null;<br>                setSize();<br>            }, 200);<br>        });</pre>- 4.iframe中加上宽高的样式<br><pre>//添加tab选项卡<br>                element.tabAdd('tabs', {<br>                    title: title,<br>                    content: '&lt;iframe id="ifr' + tabCode + '" scrolling="auto"  frameborder="0"  src="' + url + '" style="width:100%;height:100%"&gt;&lt;/iframe&gt;',<br>                    id: tabCode<br>                });</pre>
                        </div>
                        <div class="jieda-reply">
                            <span class="jieda-zan " type="zan">
                                <i class="iconfont icon-zan"></i> <em>0</em>
                            </span>
                            <span type="reply">
                                <i class="iconfont icon-svgmoban53"></i> 回复
                            </span>
                        </div>
                    </li>
                </ul>
                <div style="text-align: center"> </div>
                <a id="comment"> </a>
                <div class="layui-form layui-form-pane">
                    <form action="/jie/reply/" method="post">
                        <div class="layui-form-item layui-form-text">
                            <div class="layui-input-block">
                                <textarea id="L_content" name="content" required="" lay-verify="required" placeholder="请输入内容" class="layui-textarea edoc-editor" style="height: 150px;"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <input type="hidden" name="jid" value="33662">
                            <input type="hidden" name="daPages" value="1">
                            <button class="layui-btn" lay-filter="*" lay-submit="">提交回复</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>