@model VmNav

<div class="edoc-panel-title edoc-filter">
    @foreach (var subNav in Nav.SelectSubNav(Model))
    {
        @Html.ActionLink(subNav.LinkText, subNav.ActionName, subNav.ControllerName, subNav.RouteValues, new { @class = subNav.Class })
        <span class="edoc-mid"></span>
    }
</div>