:host /deep/ ng2-st-tbody-edit-delete { 
    display: flex !important; 
    height: 0 !important; 
    width: 0 !important;
} 

:host /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom { 
    display: inline-block; 
    width: 35px; 
    text-align: center; 
    font-size: 1.1em; 
} 

:host /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover { 
    color: #5dcfe3; 
}

.right {
    order: 1;
    flex-direction: row-reverse;
}

nb-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
}