nz-list-item {
    background-color: #FFFFFF !important;
    margin-bottom: 20px !important;
    padding: 5px 15px;
}

:host ::ng-deep .loadmore {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 15px;
    height: 32px;
    line-height: 32px;
  }
  
:host ::ng-deep div.ant-list-item-meta-description p span a {
    color: #8c8c8c !important;
}